@charset 'UTF-8';
/* Icons */

@font-face {
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/slick.eot');
    src: url('../fonts/slick.eot?#iefix') format('embedded-opentype'), 
         url('../fonts/slick.woff') format('woff'), 
         url('../fonts/slick.ttf') format('truetype'), 
         url('../fonts/slick.svg#slick') format('svg');
}
/* Arrows */

.ls-slider {
    position: relative;
}

.ls-lft,
.ls-rgt {
    position: fixed;
    top: 0;
    z-index: 9100;
    display: block;
    height: 100%;
    width: 10%;
    overflow: auto;
    padding: 0;
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    /*background: rgba(255,255,255,.3);*/
}

@media screen and (min-width: 980px) {
    .ls-lft,
    .ls-rgt {
        width: 5%;
    }  
}

.ls-lft:hover,
.ls-lft:focus,
.ls-rgt:hover,
.ls-rgt:focus {
    color: transparent;
    outline: none;
    /*background: rgba(255,255,255,.5);*/
}
.ls-lft:hover:before,
.ls-lft:focus:before,
.ls-rgt:hover:before,
.ls-rgt:focus:before {
    opacity: 1;
}
.ls-lft:before,
.ls-rgt:before {
    opacity: .75;
    color: black;
}
.ls-rgt {
    right: 10%;
    margin-right: 13px;
}
@media screen and (min-width: 980px) {
    .ls-rgt {
        left: 55%;
       -ms-transform: translateX(-55%);  
       -webkit-transform: translateX(-55%);  
        transform: translateX(-55%);       
    }
}

.ls-slider .ls-lft:before, 
.ls-slider .ls-rgt:before {
    content: ' ';
    width: 16px;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
   -ms-transform: translateX(-50%);  
   -webkit-transform: translateX(-50%);  
    transform: translateX(-50%);    
    margin-top: -30px;
    background-image: url('../img/ic-arrows.png');
    background-repeat: no-repeat;
}

.ls-slider .ls-lft:before,
.ls-slider.background--light .ls-lft:before {
    background-position: 0 0;
}
.ls-slider .ls-rgt:before,
.ls-slider.background--light .ls-rgt:before {
    background-position: -19px 0;
}

.ls-slider.background--dark .ls-lft:before {
    background-position: 0 -38px;
}
.ls-slider.background--dark .ls-rgt:before {
    background-position: -20px -38px;
}

/* Dots */
.ls-dots {
    position: relative;
    width: 100%;
    bottom: 30px;
    display: block;
    padding: 0;
    list-style: none;
    text-align: center;
}

@media screen and (min-width: 980px) {
    .ls-dots {
        position: fixed;
        width: 60%;
    }
}

.ls-dots li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}
.ls-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.ls-dots li button:hover,
.ls-dots li button:focus {
    outline: none;
}
.ls-dots li button:hover:before,
.ls-dots li button:focus:before {
    opacity: 1;
}
.ls-dots li button:before {
    font-family: 'slick';
    font-size: 10px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: .25;
    color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.ls-dots li.ls-active button:before {
    opacity: .75;
    color: black;
}

.ls-slider.background--light .ls-dots li button:before,
.ls-slider.background--light .ls-dots li.is-active button:before {
    color: black;
}

.ls-slider.background--dark .ls-dots li button:before,
.ls-slider.background--dark .ls-dots li.is-active button:before {
    color: white;
}