#ls-modal-form-wraper {
    position: relative;
    background-color: rgba(255, 255, 255, 0);
    margin: 0 auto;
    width: 80%;
    z-index: 8000;
}

@media screen and (min-width: 980px) {
    #ls-modal-form-wraper {
        top: 50%;
       -ms-transform: translateY(-50%);  
       -webkit-transform: translateY(-50%); 
        transform: translateY(-50%);
    }
}

#ls-modal-form {  /* Размеры должны быть фиксированы */
    background-color: rgba(0, 0, 0, 0.5);  
    position: fixed; /* чтобы окно было в видимой зоне в любом месте */ /* чтобы окно было в видимой зоне в любом месте */ /* отступаем сверху 45%, остальные 5% подвинет скрипт */
    box-sizing: border-box;
    display: none; /* в обычном состоянии окна не должно быть */ /* полностью прозрачно для анимирования */
    z-index: 8000; /* окно должно быть наиболее большем слое */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: scroll;
}

.ls-modal-content {
    overflow: hidden;
    height:100%;
    border-radius:0px;
    background: transparent;
    border: none;
    position: relative;
}

#ls-modal-topbar {
    height: 40px;
    position: relative;
    margin-top: 50px;
}

/* Кнопка закрыть */
#ls-modal-form #ls-modal-close {
    width: 48px;
    height: 48px;
    background-image: url('../img/ic-close.png');
    position: absolute;
    z-index: 8002;
    cursor: pointer;
    display: block;
    right: 0;
    top: 0;
}

#ls-modal-close:hover {
    opacity: 0.5;
    background-color: #eee;
}

/* Подложка */
#ls-overlay {
    position: fixed;
    z-index: 5000;
    background-color:rgba(0,0,0,.8);
    width: 100%; 
    height: 100%;
    top: 0; 
    left: 0;
    cursor: pointer;
    display: none;
    overflow: hidden;
}

#ls-modal-content h2 {
    padding:0 10px 5px 20px;
}

#ls-modal-content h3 {
    font-size: 18px;
    font-size: 1.8rem;
    padding-left: 20px;
    margin-bottom: 20px;
}

#ls-modal-form .ls-slider img {
    width: 100%;
}

#ls-modal-form .ls-slides {
    cursor: url(/img/ic-mouse.cur), url(../img/ic-mouse.png), s-resize;
    background:#fff url('../img/bg-pattern.png') repeat;
}

#ls-modal-form .content {
    background-color: #fff;
    padding: 20px;
}

#ls-modal-form .content p{
    padding:10px 20px 10px 20px;  
}

#ls-modal-form .content blockquote {
    background-color: rgba(120,120,120,.1);
    color:#242424;
    margin-right: 20px;
    border: none;
    font-size:14px;
    font-size:1.4rem;
    line-height: 140%;
    font-style: italic;
    font-family: "Tinos";
}


#ls-modal-form .info {
    margin-left: 20px;
}
#ls-modal-form .info span {
    cursor: pointer;
    border-bottom: 1px dashed #ccc;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#ls-modal-form .info span.is-active {
    font-weight: 700;
    border-bottom: 0;
}

#ls-modal-form .desc{
    padding:10px 20px 10px 20px;  
}

#ls-modal-form .content .result {
    display: none;
}
#ls-modal-form .content .desc a {
    margin-top: 10px;
    color:#6a737b;
    border-bottom: 1px solid #ccc;
}

#ls-modal-form .content .desc a:hover {
    color:#ff9800;
    border-bottom: 1px solid #ffbe5c;
}

.review {
    position: absolute;
    bottom: 0;
}

.review-triangle {
    margin: -20px 0 -10px 30px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 15px solid rgba(120,120,120,.1);
}

.review-author {
    font-style: italic;
    font-family: "Tinos";
}

/* Deckstope */
@media screen and (min-width: 980px) {
    #ls-modal-form .ls-slider img.middle {
        position: relative;
        top: 50%;
       -webkit-transform: translateY(-50%);
       -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .ls-slides {
        height: 550px;
    }
    
    #ls-modal-form .ls-slider {
        position: relative;
        float: left;
        width: 60%;
        height:550px;
        overflow-y: scroll;
    }

    #ls-modal-form .content {
        position: relative;
        z-index: 8001;
        margin-left: -40px;
        float: right;
        width: 42%;
        height: 550px;
        padding: 20px;
        overflow: hidden;
       -webkit-box-shadow: -5px 0px 15px -5px rgba(0,0,0,0.55);
       -moz-box-shadow: -5px 0px 15px -5px rgba(0,0,0,0.55);
        box-shadow: -5px 0px 15px -5px rgba(0,0,0,0.55);
    }
}